In [27]:
import os
import pandas as pd
from dotenv import load_dotenv

In [26]:
load_dotenv()

True

In [28]:
user = os.getenv("USER_NAME")

In [29]:
user

'bijen'

In [23]:
df = pd.read_pdf()

AttributeError: module 'pandas' has no attribute 'read_pdf'

In [5]:
df.tail(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,3/22/2019,19:06,Credit card,282.80,4.761905,14.1400,4.5
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,1/24/2019,18:10,Ewallet,766.00,4.761905,38.3000,6.0
992,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,121.8630,3/10/2019,20:46,Ewallet,116.06,4.761905,5.8030,8.8
993,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,8.7450,183.6450,2/22/2019,18:35,Ewallet,174.90,4.761905,8.7450,6.6
994,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,3.0475,63.9975,2/18/2019,11:40,Ewallet,60.95,4.761905,3.0475,5.9
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [12]:
df1 = df[["Invoice ID", "Branch"]]

In [18]:
a =df[["Quantity"]].min()

In [39]:
a = [1, 2]
b = [1, 2]

In [40]:
print(a+b)

[1, 2, 1, 2]

In [43]:
a = set()

In [47]:
a = 'apple'

In [48]:
fruit =[a]

In [59]:
fruits = ["apple", "banana", "cherry", "pomi "]

In [ ]:
fruits[1]='carrot'

'pomi '

In [49]:
fruit

['apple']

In [44]:
a

set()

In [38]:
import numpy as np

a = np.array([1, 2])
b = np.array([1, 2])
print(a+b)

[2 4]

In [19]:
a

Quantity    1
dtype: int64